<br/>
<br/>

<div class="row">
  <div class="col-lg-3">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>English</li>
          <li>Spanish</li>
          <li>German</li>
         </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-3">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Spanish <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>Spanish</li>
          <li>English</li>
          <li>German</li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class-lg-3>
      <button type="button" class="btn btn-default">Convert</button>
  </div>
</div><!-- /.row -->